---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1585109962'
      Etag:
      - W/"cce924a123b9abed7e25423cb0ad8385"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?sort=updated&page=2>; rel="next", <https://api.github.com/user/repos?sort=updated&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":249574564,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk1NzQ1NjQ=","name":"futbol","full_name":"d-atkins/futbol","private":false,"owner":{"login":"d-atkins","id":55907198,"node_id":"MDQ6VXNlcjU1OTA3MTk4","avatar_url":"https://avatars0.githubusercontent.com/u/55907198?v=4","gravatar_id":"","url":"https://api.github.com/users/d-atkins","html_url":"https://github.com/d-atkins","followers_url":"https://api.github.com/users/d-atkins/followers","following_url":"https://api.github.com/users/d-atkins/following{/other_user}","gists_url":"https://api.github.com/users/d-atkins/gists{/gist_id}","starred_url":"https://api.github.com/users/d-atkins/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/d-atkins/subscriptions","organizations_url":"https://api.github.com/users/d-atkins/orgs","repos_url":"https://api.github.com/users/d-atkins/repos","events_url":"https://api.github.com/users/d-atkins/events{/privacy}","received_events_url":"https://api.github.com/users/d-atkins/received_events","type":"User","site_admin":false},"html_url":"https://github.com/d-atkins/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/d-atkins/futbol","forks_url":"https://api.github.com/repos/d-atkins/futbol/forks","keys_url":"https://api.github.com/repos/d-atkins/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/d-atkins/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/d-atkins/futbol/teams","hooks_url":"https://api.github.com/repos/d-atkins/futbol/hooks","issue_events_url":"https://api.github.com/repos/d-atkins/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/d-atkins/futbol/events","assignees_url":"https://api.github.com/repos/d-atkins/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/d-atkins/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/d-atkins/futbol/tags","blobs_url":"https://api.github.com/repos/d-atkins/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/d-atkins/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/d-atkins/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/d-atkins/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/d-atkins/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/d-atkins/futbol/languages","stargazers_url":"https://api.github.com/repos/d-atkins/futbol/stargazers","contributors_url":"https://api.github.com/repos/d-atkins/futbol/contributors","subscribers_url":"https://api.github.com/repos/d-atkins/futbol/subscribers","subscription_url":"https://api.github.com/repos/d-atkins/futbol/subscription","commits_url":"https://api.github.com/repos/d-atkins/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/d-atkins/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/d-atkins/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/d-atkins/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/d-atkins/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/d-atkins/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/d-atkins/futbol/merges","archive_url":"https://api.github.com/repos/d-atkins/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/d-atkins/futbol/downloads","issues_url":"https://api.github.com/repos/d-atkins/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/d-atkins/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/d-atkins/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/d-atkins/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/d-atkins/futbol/labels{/name}","releases_url":"https://api.github.com/repos/d-atkins/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/d-atkins/futbol/deployments","created_at":"2020-03-24T00:25:47Z","updated_at":"2020-03-24T00:25:48Z","pushed_at":"2020-01-09T15:27:59Z","git_url":"git://github.com/d-atkins/futbol.git","ssh_url":"git@github.com:d-atkins/futbol.git","clone_url":"https://github.com/d-atkins/futbol.git","svn_url":"https://github.com/d-atkins/futbol","homepage":null,"size":456,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":249574539,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk1NzQ1Mzk=","name":"paired_adopt_dont_shop","full_name":"d-atkins/paired_adopt_dont_shop","private":false,"owner":{"login":"d-atkins","id":55907198,"node_id":"MDQ6VXNlcjU1OTA3MTk4","avatar_url":"https://avatars0.githubusercontent.com/u/55907198?v=4","gravatar_id":"","url":"https://api.github.com/users/d-atkins","html_url":"https://github.com/d-atkins","followers_url":"https://api.github.com/users/d-atkins/followers","following_url":"https:/[...]
