---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1585105664'
      Etag:
      - W/"88524fa155aceb559e83a5564b85f38d"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225475488,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0NzU0ODg=","name":"git_practice","full_name":"adumortier/git_practice","private":false,"owner":{"login":"adumortier","id":42797894,"node_id":"MDQ6VXNlcjQyNzk3ODk0","avatar_url":"https://avatars2.githubusercontent.com/u/42797894?v=4","gravatar_id":"","url":"https://api.github.com/users/adumortier","html_url":"https://github.com/adumortier","followers_url":"https://api.github.com/users/adumortier/followers","following_url":"https://api.github.com/users/adumortier/following{/other_user}","gists_url":"https://api.github.com/users/adumortier/gists{/gist_id}","starred_url":"https://api.github.com/users/adumortier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adumortier/subscriptions","organizations_url":"https://api.github.com/users/adumortier/orgs","repos_url":"https://api.github.com/users/adumortier/repos","events_url":"https://api.github.com/users/adumortier/events{/privacy}","received_events_url":"https://api.github.com/users/adumortier/received_events","type":"User","site_admin":false},"html_url":"https://github.com/adumortier/git_practice","description":null,"fork":false,"url":"https://api.github.com/repos/adumortier/git_practice","forks_url":"https://api.github.com/repos/adumortier/git_practice/forks","keys_url":"https://api.github.com/repos/adumortier/git_practice/keys{/key_id}","collaborators_url":"https://api.github.com/repos/adumortier/git_practice/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/adumortier/git_practice/teams","hooks_url":"https://api.github.com/repos/adumortier/git_practice/hooks","issue_events_url":"https://api.github.com/repos/adumortier/git_practice/issues/events{/number}","events_url":"https://api.github.com/repos/adumortier/git_practice/events","assignees_url":"https://api.github.com/repos/adumortier/git_practice/assignees{/user}","branches_url":"https://api.github.com/repos/adumortier/git_practice/branches{/branch}","tags_url":"https://api.github.com/repos/adumortier/git_practice/tags","blobs_url":"https://api.github.com/repos/adumortier/git_practice/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/adumortier/git_practice/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/adumortier/git_practice/git/refs{/sha}","trees_url":"https://api.github.com/repos/adumortier/git_practice/git/trees{/sha}","statuses_url":"https://api.github.com/repos/adumortier/git_practice/statuses/{sha}","languages_url":"https://api.github.com/repos/adumortier/git_practice/languages","stargazers_url":"https://api.github.com/repos/adumortier/git_practice/stargazers","contributors_url":"https://api.github.com/repos/adumortier/git_practice/contributors","subscribers_url":"https://api.github.com/repos/adumortier/git_practice/subscribers","subscription_url":"https://api.github.com/repos/adumortier/git_practice/subscription","commits_url":"https://api.github.com/repos/adumortier/git_practice/commits{/sha}","git_commits_url":"https://api.github.com/repos/adumortier/git_practice/git/commits{/sha}","comments_url":"https://api.github.com/repos/adumortier/git_practice/comments{/number}","issue_comment_url":"https://api.github.com/repos/adumortier/git_practice/issues/comments{/number}","contents_url":"https://api.github.com/repos/adumortier/git_practice/contents/{+path}","compare_url":"https://api.github.com/repos/adumortier/git_practice/compare/{base}...{head}","merges_url":"https://api.github.com/repos/adumortier/git_practice/merges","archive_url":"https://api.github.com/repos/adumortier/git_practice/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/adumortier/git_practice/downloads","issues_url":"https://api.github.com/repos/adumortier/git_practice/issues{/number}","pulls_url":"https://api.github.com/repos/adumortier/git_practice/pulls{/number}","milestones_url":"https://api.github.com/repos/adumortier/git_practice/milestones{/number}","notifications_url":"https://api.github.com/repos/adumortier/git_practice/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/adumortier/git_practice/labels{/name}","releases_url":"https://api.github.com/repos/adumortier/git_practice/releases{/id}","deployments_url":"https://api.github.com/repos/adumortier/git_practice/deployments","created_at":"2019-12-02T21:50:03Z","updated_at":"2019-12-02T22:10:00Z","pushed_at":"2019-12-02T22:18:29Z","git_url":"git://github.com/adumortier/git_practice.git","ssh_url":"git@github.com:adumortier/git_practice.git","clone_url":"https://github.com/adumortier/git_practice.git","svn_url":"https://github.com/adumortier/git_practice","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":240275803,"node_id":"MDEwOlJlcG9zaXRvcnkyNDAyNzU4MDM=","name":"activerecord-obstacle-course","full_name":"d-atkins/activerecord-obstacle-course","private":false,"owner":{"login":"d-atkins","id":55907198,"node_id":"MDQ6VXNlcjU1OTA3MTk4","avatar_url":"https://avatars0.githubusercontent.com/u/55907198?v=4","gravatar_id":"","url":"https://api.github.com/users/d-atkins","html_url":"https://github.com/d-atkins","followers_url":"https://api.github.com/users/d-atkins/followers","following_u[...]
